; =============================================================================
; Production
; =============================================================================
[production]
; ATTENTION : Il faut laisser cette section même si elle est vide

; =============================================================================
; Développement
; =============================================================================
[development : production]
; Mettre ici les paramètres personnalisés